<div class="container">
    <h2 class="center">Cursos y Seminarios</h2>
      <form>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Institucion">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nombre del curso o seminario">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Fecha">
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Carga Horaria">
                </div>                        
              <div class="form-group">
                <button type="button" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-warning ml-3">Limpiar</button>
              </div>
  
            </div>
            <div class="col-6">              
            </div>
          </div>
          </form>    
          <app-courses-list></app-courses-list>      
  </div>
