<div class="container">
    <h2 class="center">Cursos y Seminarios</h2>
      <form (ngSubmit)="addAcademic()">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Institucion" [(ngModel)]="course.institucion" name="institucion" >
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nombre del curso o seminario" [(ngModel)]="course.nombre" name="nombre" >
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Fecha" [(ngModel)]="course.fecha" name="fecha">
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Carga Horaria" [(ngModel)]="course.cargaHoraria" name="cargaHoraria">
                </div>                        
              <div class="form-group">
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-warning ml-3">Limpiar</button>
              </div>
  
            </div>
            <div class="col-6">              
            </div>
          </div>
          </form>    
          <app-courses-list></app-courses-list>      
  </div>
