<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Institucion</th>
      <th scope="col">Inicio</th>
      <th scope="col">Fin</th>
      <th scope="col">Funcion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let experiencia of experiencias; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{experiencia.institucion}}</td>
      <td>{{experiencia.fechaInicio}}</td>
      <td>{{experiencia.fechaFin}}</td>
      <td>{{experiencia.funcion}}</td>
    </tr>    
  </tbody>
</table>
