<div class="container">
  <h2 class="center">Informacion Personal</h2>
    <form>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Your lastname">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="your email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Your phone number">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-5" id="formGroupExampleInput" placeholder="Your ID">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-5" id="formGroupExampleInput" placeholder="Your birthday">
            </div>
          </div>
          <div class="col-6">

          </div>
        </div>
        </form>
</div>

