<div class="container">
  <h2 class="center">Informacion Personal</h2>
    <form>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Your lastname">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="your email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Your phone number">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-5" id="formGroupExampleInput" placeholder="Your ID">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-5" id="formGroupExampleInput" placeholder="Your birthday">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-success">Guardar</button>
              <button type="button" class="btn btn-warning ml-3">Limpiar</button>
            </div>

          </div>
          <div class="col-6">
            <span class="d-none d-lg-block">
              <img class="img-fluid img-profile rounded-circle mx-auto mb-2 col-6" src="http://cdn.primedia.co.za/primedia-broadcasting/image/upload/c_limit,fl_progressive,q_80,w_600/tprcf1jylnmwmdjcjny4" alt="">
            </span>
          </div>
        </div>
        </form>
</div>

