<div class="container">
  <h2 class="center">Informacion Personal</h2>
    <form (ngSubmit)="addProfile()">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <input name="name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Your Name" [(ngModel)]="profile.name">
            </div>
            <div class="form-group">
              <input name="lastName" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Your lastname" [(ngModel)]="profile.lastName">
            </div>
            <div class="form-group">
              <input name="email" type="text" class="form-control" id="formGroupExampleInput3" placeholder="your email" [(ngModel)]="profile.email">
            </div>
            <div class="form-group">
              <input name="phone" type="text" class="form-control" id="formGroupExampleInput4" placeholder="Your phone number" [(ngModel)]="profile.phone">
            </div>
            <div class="form-group">
              <input name="ci" type="text" class="form-control col-5" id="formGroupExampleInput5" placeholder="Your ID" [(ngModel)]="profile.ci">
            </div>
            <div class="form-group">
              <input name="birthday" type="text" class="form-control col-5" id="formGroupExampleInput6" placeholder="Your birthday" [(ngModel)]="profile.birthday">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Guardar</button>
              <button type="button" class="btn btn-warning ml-3">Limpiar</button>
            </div>

          </div>
          <div class="col-6">
            <span class="d-none d-lg-block">
              <img class="img-fluid img-profile rounded-circle mx-auto mb-2 col-6" src="http://cdn.primedia.co.za/primedia-broadcasting/image/upload/c_limit,fl_progressive,q_80,w_600/tprcf1jylnmwmdjcjny4" alt="">
            </span>
          </div>
        </div>
        </form>
</div>
<!-- <ul>
  <li class="text" *ngFor="let item of profiles">
    {{item.email}} {{item.name}} {{item.lastName}}
  </li>
</ul> -->
