<div class="container">
  <h2 class="center">Formacion academica</h2>
    <form>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Universidad">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Titulo">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Fecha">
            </div>                        
            <div class="form-group">
              <button type="button" class="btn btn-success">Guardar</button>
              <button type="button" class="btn btn-warning ml-3">Limpiar</button>
            </div>

          </div>
          <div class="col-6">
            <div class="form-group">
              <select class="custom-select">
                <option selected>Seleccione un grado academico</option>
                <option value="1">Tecnico</option>
                <option value="2">Tecnico Medio</option>
                <option value="3">Tecnico Superior</option>
                <option value="4">Licenciatura</option>
                <option value="5">Maestria</option>
                <option value="6">Doctorado</option>
                <option value="7">Post Doctorado</option>
              </select>
            </div>
          </div>
        </div>
        </form>
        <app-academic-list></app-academic-list>
</div>
