<div class="container">
  <h2 class="center">Formacion academica</h2>
    <form (ngSubmit)="addAcademic()">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Universidad" [(ngModel)]="academic.institucion" name="institucion">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Titulo" [(ngModel)]="academic.titulo" name="titulo">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Fecha" [(ngModel)]="academic.fecha" name="fecha">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Guardar</button>
              <button type="button" class="btn btn-warning ml-3">Limpiar</button>
            </div>

          </div>
          <div class="col-6">
            <div class="form-group">
              <select class="custom-select" [(ngModel)]="academic.grado" name="grado">
                <option selected>Seleccione un grado academico</option>
                <option value="Tecnico">Tecnico</option>
                <option value="Tecnico Medio">Tecnico Medio</option>
                <option value="Tecnico Superior">Tecnico Superior</option>
                <option value="Licenciatura">Licenciatura</option>
                <option value="Maestria">Maestria</option>
                <option value="Doctorado">Doctorado</option>
                <option value="Post Doctorado">Post Doctorado</option>
              </select>
            </div>
          </div>
        </div>
        </form>
        <app-academic-list></app-academic-list>
</div>
