<div class="row mt-5">
  <div class="col-md-4" *ngFor="let card of lista">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="http://bmeixner.com/data/upload/2017/11/best-website-maker.jpg" data-holder-rendered="true">
      <div class="card-body">
        <h5><a href="{{card.url}}" target="_blank">{{card.titulo}}</a></h5>
        <p class="card-text">{{card.descripcion}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <!-- <small class="text-muted">9 mins</small> -->
        </div>
      </div>
    </div>
  </div>
</div>
